<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    {{#if production}}
      {{> tags }} {{! Google Tags. See https://www.google.com/tagmanager/}}
    {{/if}}

    <!-- Navigation component -->
    {{> nav-main }}

    <!-- Subhead component -->
    {{> header }}

    <!-- Content goes here -->
    {{> body }}

    <!-- Footer -->
    {{> footer }}

    <!-- JS and analytics only. -->
    {{> javascripts }}
  </body>
</html>