$card-height: 150px;

.card-grid {
    list-style: none;
    overflow: hidden;
    margin: 0;
    
     

    .card {
        @include span-columns(6);
        &:nth-child(even) { @include omega(); }
        position: relative;
        margin-bottom: 12px;
        width: 49%;
        float: left;
        height: 150px;
        text-align: center;
    }
    .card--c1 {
        @extend .card;
        background: #404467;
    }
    .card--c2 {
        @extend .card;
        background: #5C627A;
    }
    .card--c3 {
        @extend .card;
        background: #4D4147;
    }
    .card--c4 {
        @extend .card;
        background: #6B565D;
    }

    .card__title {
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        font-weight: 700;
        color: $light-rhino;
        text-transform: uppercase;
        text-align: center; 
        margin: 25px auto;
        display: inline;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0; bottom: 0;

    }

    .card__description {
        @include transform(translateX(200%));
        position: absolute;
        left: 0; right: 0;
        text-align: left;
        width: 285px;
        margin: 35px 0;
        padding: 0 20px;
        color: $light-rhino;
        border-left: 4px solid $light-rhino;
    }

    .card:hover {
        .card__title       { @include animation(200ms moveLeft ease-in forwards); }
        .card__description { @include animation(200ms appearLeft ease-in forwards); }

    }
}


@include keyframes(moveLeft) {
  from {
    right: initial;
    text-align: right;
  }
  to {
    right: initial;
    margin: 45px auto;
    width: 170px;
    text-align: right;
  }
}

@include keyframes(appearLeft) {
  to {
    @include transform(translateX(0));
    left: 170px;
  }
}