.grid-container {
    @include outer-container();
    padding: 25px 0;
}

.title {
    text-transform: uppercase; 
}

.fullwidth-container {
    background: $light-rhino;
    &.c1 { background: #404467; }
    &.c2 { background: #5C627A; }
    &.c3 { background: #4D4147; }
    &.c4 { background: #6B565D; }
    &.c5 { background: darken($light-rhino, 5%); }
    &.c6 { background: darken($light-rhino, 10%); }
    &.c7 { background: darken($light-rhino, 15%); }
    &.c8 { background: darken($light-rhino, 20%); }
}