<nav class="top-bar">
  <li>
    <a href="{{relative page.dest "_gh_pages/index.html"}}">Mission</a>
  </li>
  <li>
    <a href="{{relative page.dest "_gh_pages/companies.html"}}">Companies</a>
  </li>
</nav>