@charset "UTF-8";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/
/**
 *
 * sass --watch style.scss:style.min.css --style compressed
 *
 * Here we pull in some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */

/**
 * Setup
 */
@import "vars";
// @import "inuit.css/inuit";




@import "bourbon/bourbon";





$grid-columns: 12;
$gutter: golden-ratio(1em, 1);
// $visual-grid: true;
$max-width: 1060px;
@import "neat/neat";
@import "bitters/bitters";
@import "helpers/helpers";

@import "layout/containers";

@import "components/headers";
@import "components/main-content";
@import "components/card-grid";
@import "components/grid-list";
@import "components/top-bar";


/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */

html, body {
  margin: 0;
}

footer {
    background: $light-rhino;
    padding: 50px;
}

.centered { text-align: center; }
.all-caps { text-transform: uppercase; }