---
title: Home
lead: <%= site.lead %> # this is used by the subhead component
---

<!-- Header -->
<div class="fullwidth-container">
<section class="grid-container">
    <h2 class="title">Mission</h2>
    <p class="description">Porto is the second biggest city in Portigal and is becoming an european center for innovation and technology. Many companies are coming to Porto to establish their developement centers, and the increasingly number of digital agencies are building great products world wide.</p>
    <p>The reason behind this is a combination of factors. First of all, Porto is a lovely city — elected best european destination two years in a row — with both good transportation facilities and esquisid weather. Second of all, there is innormous tech talent, resulting from the great universities around. Finally, the cost of living in the city is one of the cheapest in Europe.</p>
    <p>We love Porto tech scene and we built this website so you can start loving it too.</p>

    <p>— João Figueiredo</p>
</section>
</div>

<section class="grid-container">
<h2 class="title centered all-caps">Featuring</h2>
<p class="centered">In this guide, you can learn more about Porto's Tech scene.</p>
<ul class="card-grid">
    <li class="card--c1">
        <p class="card__title">The<br>Companies</a>
        <p class="card__description">Porto’s most innovative and disruptive tech businesses and the people behind them.</p>
    </li>

    <li class="card--c2">
        <p class="card__title">The<br>Meetups</a>
        <p class="card__description">Porto’s most innovative and disruptive tech businesses and the people behind them.</p>
    </li>

    <li class="card--c3">
        <p class="card__title">The<br>Universities</a>
        <p class="card__description">Porto’s most innovative and disruptive tech businesses and the people behind them.</p>
    </li>

    <li class="card--c4">
        <p class="card__title">The<br>Workplaces</a>
        <p class="card__description">Porto’s most innovative and disruptive tech businesses and the people behind them.</p>
    </li>
</ul>
</section>