---
title: Home
lead: <%= site.lead %> # this is used by the subhead component
---
<!-- Subhead component -->
{{> header }}

<div class="fullwidth-container">
<section class="grid-container">
    <div class="text-container">
        <h2>Why we made this</h2>
        <p>Porto is the second biggest city in Portugal and is becoming an european center for innovation and technology. The city has several conditions that makes people fall in love with, but is the combination of a relatively cheap cost of living and top-notch engineering and innovation work force that is making companies establish business opportunities there.</p>
        <p>Even though tech-related people from Porto know this, the information is not well-spread. That's why we created this guide. Specifically, we have two main goals:</p>
        <ol>
            <li><strong>Show the world the best innovations being build in Porto:</strong> starting from the numerous startups disrupting several markets, from the multinational companies who already found in Porto a source of engineering and creativity tallent, to the digital agencies project's that are helping companies world-wide fulfill their missions.</li>
            <li><strong>Shorten the gap between companies and talent:</strong> by creating a medium where craftmanship (digital agencies, freelance developers and designers) and companies (looking forward to establish business opportunities in this lovely and talented city) can cooperate.</li>
        </ol>
        <p>We love Porto tech scene and we built this website so you can start loving it too.</p>

        <p>— João Figueiredo</p>
    </div>
</section>
</div>

<section class="grid-container">
<h2 class="title centered all-caps">Featuring</h2>
<p class="centered">In this guide, you can learn more about Porto's Tech scene.</p>
<ul class="card-grid">
    <li class="card--c1">
        <p class="card__title">The<br>Companies</a>
        <p class="card__description">Porto’s most innovative and disruptive tech businesses and the people behind them.</p>
    </li>

    <li class="card--c2">
        <p class="card__title">The<br>Meetups</a>
        <p class="card__description">Porto’s most innovative and disruptive tech businesses and the people behind them.</p>
    </li>

    <li class="card--c3">
        <p class="card__title">The<br>Universities</a>
        <p class="card__description">Porto’s most innovative and disruptive tech businesses and the people behind them.</p>
    </li>

    <li class="card--c4">
        <p class="card__title">The<br>Workplaces</a>
        <p class="card__description">Porto’s most innovative and disruptive tech businesses and the people behind them.</p>
    </li>
</ul>
</section>