<header class="main-header video-header">
    <div class="container video-overlay">
	    <h1 class="title">Porto Tech Scene</h1>
	    <h2 class="subtitle">Why Porto is becoming an european center for technology and innovation.</h2>
    </div>
    <video autoplay="" loop="loop" poster="http://www.exponentpr.com//themes/expo/media/images/video.jpg" class="video">
        <source src="http://av.vimeo.com/41961/321/44900669.mp4?token2=1401987101_e95df645b2ae4f6af7d052e4bde889b8&aksessionid=7e584c82952cc4dc" type="video/mp4">
        <img src="http://www.exponentpr.com//themes/expo/media/images/video.jpg" width="100%" height="100%" alt="">
    </video>
</header>