$base-header-height: 500px;
$main-header-height: 500px;

%header {
    padding: 200px 0;
    overflow: hidden;

    .title {
        text-align: center;
        color: $light-rhino;
        border-bottom: 3px solid #fff;
        width: 800px;
        margin: 0 auto;
        margin-bottom: 20px;
        padding-bottom: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .subtitle {
        color: $light-rhino;
        text-align: center;
        font-weight: 200;
        font-size: 28px;
        font-style: italic;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .title,
    .subtitle {
        text-shadow: rgb(68, 68, 68) 1px 1px 1px;
    }
}

.base-header {
    @extend %header;
    background: url('/images/startups-page.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: url('https://farm7.staticflickr.com/6228/6363500041_c28f97d7cf_o_d.jpg') center center fixed; 
    
}

.main-header {
    @extend %header;
    background: linear-gradient($dark-bluebird, $tiger);
}

.video-header {
    position: relative;
    .video,
    .video-overlay {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        width: 100%;
    }

    .video         { z-index: 0; }
    .video-overlay { z-index: 1; }
}