.icon-tags-1 { background-image: url('png/tags-1.png'); background-repeat: no-repeat; }

.icon-tags-blue { background-image: url('png/tags-blue.png'); background-repeat: no-repeat; }

.icon-tags-red { background-image: url('png/tags-red.png'); background-repeat: no-repeat; }

.icon-tags-yellow { background-image: url('png/tags-yellow.png'); background-repeat: no-repeat; }

.icon-tags { background-image: url('png/tags.png'); background-repeat: no-repeat; }

.icon-users-1 { background-image: url('png/users-1.png'); background-repeat: no-repeat; }

.icon-users-blue { background-image: url('png/users-blue.png'); background-repeat: no-repeat; }

.icon-users-red { background-image: url('png/users-red.png'); background-repeat: no-repeat; }

.icon-users-yellow { background-image: url('png/users-yellow.png'); background-repeat: no-repeat; }

.icon-users { background-image: url('png/users.png'); background-repeat: no-repeat; }

